# Delphi build artifacts
__history/
__recovery/
Win32/
Win64/
*.dcu
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Delphi project local/user files
*.dproj.local
*.identcache
*.res
*.stat
*.cfg
*.dsk
*.todo

# IDE settings
*.lps
*.lpi.bak

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Environment files (secrets)
.env
samples/sql_*

# Previous plans
assertion-hardening-plan.md
samples/# Code Citations.md

# Reference docs
RTTI Reference.txt
samples/decrypt_webconfig.lox
perf-hotspot-review.md
bat/build-installer.bat
bat/build-installer.lox
Natives/ProcessUtils.pas
Natives/ProcessNatives.pas
Library/Encrypt/EncryptNatives/crypt.pas
Library/Encrypt/DCPCrypt-master/.gitattributes
Library/Encrypt/DCPCrypt-master/.gitignore
Library/Encrypt/DCPCrypt-master/dcp.inc
Library/Encrypt/DCPCrypt-master/DCP_XE.dpk
Library/Encrypt/DCPCrypt-master/DCP_XE.dproj
Library/Encrypt/DCPCrypt-master/DCP_XE2.dpk
Library/Encrypt/DCPCrypt-master/DCP_XE2.dproj
Library/Encrypt/DCPCrypt-master/DCP_XE2.skincfg
Library/Encrypt/DCPCrypt-master/DCP_XE5.dpk
Library/Encrypt/DCPCrypt-master/DCP_XE5.dproj
Library/Encrypt/DCPCrypt-master/DCP_XE6.dpk
Library/Encrypt/DCPCrypt-master/DCP_XE6.dproj
Library/Encrypt/DCPCrypt-master/DCP_XE7.deployproj
Library/Encrypt/DCPCrypt-master/DCP_XE7.dpk
Library/Encrypt/DCPCrypt-master/DCP_XE7.dproj
Library/Encrypt/DCPCrypt-master/DCPbase64.pas
Library/Encrypt/DCPCrypt-master/DCPblockciphers.pas
Library/Encrypt/DCPCrypt-master/DCPciphers.dcr
Library/Encrypt/DCPCrypt-master/DCPconst.pas
Library/Encrypt/DCPCrypt-master/DCPcppbuilder5.bpk
Library/Encrypt/DCPCrypt-master/DCPcppbuilder5.cpp
Library/Encrypt/DCPCrypt-master/DCPcrypt2.pas
Library/Encrypt/DCPCrypt-master/DCPdelphi2007.dof
Library/Encrypt/DCPCrypt-master/DCPdelphi2007.dpk
Library/Encrypt/DCPCrypt-master/DCPdelphi2007.dproj
Library/Encrypt/DCPCrypt-master/DCPdelphi2009.dof
Library/Encrypt/DCPCrypt-master/DCPdelphi2009.dpk
Library/Encrypt/DCPCrypt-master/DCPdelphi2009.dproj
Library/Encrypt/DCPCrypt-master/DCPdelphi4.dof
Library/Encrypt/DCPCrypt-master/DCPdelphi4.dpk
Library/Encrypt/DCPCrypt-master/DCPdelphi5.dof
Library/Encrypt/DCPCrypt-master/DCPdelphi5.dpk
Library/Encrypt/DCPCrypt-master/DCPdelphi6.dof
Library/Encrypt/DCPCrypt-master/DCPdelphi6.dpk
Library/Encrypt/DCPCrypt-master/DCPhashes.dcr
Library/Encrypt/DCPCrypt-master/DCPkylix.conf
Library/Encrypt/DCPCrypt-master/DCPkylix.dpk
Library/Encrypt/DCPCrypt-master/DCPkylix.kof
Library/Encrypt/DCPCrypt-master/DCPreg.pas
Library/Encrypt/DCPCrypt-master/ORawByteString.pas
Library/Encrypt/DCPCrypt-master/Readme.txt
Library/Encrypt/DCPCrypt-master/Ciphers/DCPblowfish.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPblowfish.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPcast128.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPcast128.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPcast256.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPcast256.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPdes.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPdes.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPgost.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPgost.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPice.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPidea.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPmars.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPmars.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPmisty1.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPmisty1.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrc2.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrc2.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrc4.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrc5.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrc6.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrijndael.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPrijndael.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPserpent.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPtea.pas
Library/Encrypt/DCPCrypt-master/Ciphers/DCPtwofish.inc
Library/Encrypt/DCPCrypt-master/Ciphers/DCPtwofish.pas
Library/Encrypt/DCPCrypt-master/demos/FileEncrypt/FileEncrypt.dpr
Library/Encrypt/DCPCrypt-master/demos/FileEncrypt/FileEncrypt.dproj
Library/Encrypt/DCPCrypt-master/demos/FileEncrypt/FileEncrypt_Icon.ico
Library/Encrypt/DCPCrypt-master/demos/FileEncrypt/uMain.dfm
Library/Encrypt/DCPCrypt-master/demos/FileEncrypt/uMain.pas
Library/Encrypt/DCPCrypt-master/demos/FileHash/FileHash.dpr
Library/Encrypt/DCPCrypt-master/demos/FileHash/FileHash.dproj
Library/Encrypt/DCPCrypt-master/demos/FileHash/FileHash_Icon.ico
Library/Encrypt/DCPCrypt-master/demos/FileHash/uMain.dfm
Library/Encrypt/DCPCrypt-master/demos/FileHash/uMain.pas
Library/Encrypt/DCPCrypt-master/Docs/BlockCiphers.html
Library/Encrypt/DCPCrypt-master/Docs/Ciphers.html
Library/Encrypt/DCPCrypt-master/Docs/Hashes.html
Library/Encrypt/DCPCrypt-master/Docs/Index.html
Library/Encrypt/DCPCrypt-master/Docs/MIT_license.txt
Library/Encrypt/DCPCrypt-master/Docs/osi-certified-120x100.png
Library/Encrypt/DCPCrypt-master/Hashes/DCPhaval.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPhaval3.inc
Library/Encrypt/DCPCrypt-master/Hashes/DCPhaval4.inc
Library/Encrypt/DCPCrypt-master/Hashes/DCPhaval5.inc
Library/Encrypt/DCPCrypt-master/Hashes/DCPmd4.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPmd5.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPripemd128.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPripemd160.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPsha1.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPsha256.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPsha512.pas
Library/Encrypt/DCPCrypt-master/Hashes/DCPtiger.inc
Library/Encrypt/DCPCrypt-master/Hashes/DCPtiger.pas
